body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
  }
  
  ol, ul {
    padding-left: 30px;
  }
  
  .board-row:after {
    clear: both;
    content: "";
    display: table;
  }
  
  .status {
    margin-bottom: 10px;
  }

  .hide {
    display: none;
  }

  .overlay {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: black;
    opacity: 0.5;
    z-index: 1;
}
  
  .square {
    background: #fff;
    border: 1px solid #999;
    float: left;
    font-size: 64px;
    font-weight: bold;
    line-height: 34px;
    height: 94px;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    width: 94px;
  }

  .square.highlight {
    background-color: #ddd;
  }
  
  .square:focus {
    outline: none;
  }
  
  .kbd-navigation .square:focus {
    background: #ddd;
  }

  .main-container {
    display: flex;
    flex-direction: row;
  }
  
  .game {
    display: flex;
    flex-direction: row;
  }
  
  .game-info {
    margin-left: 20px;
  }

  .input-squares-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .input-squares {
    margin: 0px 80px;
    padding: 6px;
  }

  .input-squares::placeholder {
    color: #999;
  }

  .danger-span {
    color: red;
  }